
# Do not include temporary files
*~
*.swp
*.optimized
*.o
*.pyc
.nfs*
*.aux
*.tar
*.gz
\#*
\.\#*
bin/
log/
.cproject
.project

# Do not include automake output
autoscan.log
configure.scan

# Do not include the test directory

.DS_Store
